/* Arquivo responsável por deixar o site responsivo */

@media (max-width:1025px) {
/* 
    h2,
    h3,
    h4 {
        font-size: 100%;

    } */

    main {
        #sobre {
            height: 100%;

            .container {

                figure,
                .textoSobre {
                    width: 100%;

                    /* img,
                    figcaption {
                        width: 400px;


                    } */
                }
            }
        }

        #blog {

            .container {
                max-width: 580px;
                height: 42%;

                a {
                    width: 35%;
                }
            }
        }

        #explore.container.cardexplore {
            width: 280px;
        }
    }
}

/* O max-width tem a regra que só valem em telas até determinadas largura */
/* Responsivo para tablets */
@media (max-width: 769px) {

    /* #region escondendo menu e mostrando o icone */

    main {
        #sobre {

            .container {

                flex-direction: column-reverse;
                font-size: 16px;
                margin: 10px 10px;
                padding-left: 15px;

                figure,
                .textoSobre {
                    width: 100%;
                    height: 50%;
                    align-items: center;


                }
            }

        }

        #explore {
            height: 150dvh;

            .container {
                flex-direction: column;

                .cardExplore {
                    margin: 15px;
                    padding: 15px;
                }
            }
        }

        /* responsivo para celulares mobile */

    }
}

@media(max-width:480px) {
    main {
        #sobre {
            height: 110dvh;

            .container {
                /* aqui eu deixei centralizado o texto */
                padding-inline: 30px;
                font-size: 15px;


                .textoSobre {
                    margin-top: 10%;

                    a {
                        width: 50%;

                    }
                }
            }

        }

        #blog {
            .container {
                max-width: 350px;
                height: 50%;
                padding: 15px;

                a{
                    width: 50%;
                    
                }
            }
        }
#explore{
    height: 180dvh;
}
    }

}