/* Arquivo responsável por deixar o site responsivo */

@media (max-width:1025px) {

    h2,
    h3,
    h4 {
        font-size: 30px;

    }

    main {
        #home .container {
            .home-txt {
                width: 70%;
                padding: 15px;


                h1 {
                    font-size: 30px;

                    span {
                        font-size: 30px;
                    }
                }

                figure {
                    width: 30%;

                    img {
                        width: 250px;
                    }
                }
            }



        }

        #agencias .container {
            padding: 15px;

        }

        #sobre .container {
            figure {
                width: 30%;

                img {
                    width: 400px;
                }
            }
        }
    }
}

/* O max-width tem a regra que só valem em telas até determinadas largura */
/* Responsivo para tablets */
@media (max-width: 769px) {

    /* #region escondendo menu e mostrando o icone */

    header {

        .container nav {

            /* esconder o menu de links */
            display: none;

            /* faz o menu se posicionar em relação ao header */
            position: absolute;

            top: 100%;
            left: 0;
            width: 100%;
            flex-direction: column;
            padding: 30px 0;
            background-color: #7b3adc29;
            backdrop-filter: blur(15px);
            border-radius: 0 0 20px 20px;

        }

        .container nav.ativo {
            display: flex;

        }

        /* deixar os elementos na vertical display block */
        .container #menu-icon {
            display: block;
            font-size: 35px;
            /* indica a mãozinha para clicar */
            cursor: pointer;
        }

    }

    main {

        #home.container {
            flex-direction: column-reverse;
            justify-content: flex-start;

            figure {
                height: 40%;

                img {
                    width: 250px;
                }
            }

            .home-txt {
                width: 80%;
                height: 50%;

                h1 {
                    font-size: 25px;

                    span {
                        font-size: 25px;
                    }
                }

            }

        }

        #sobre {
            height: 80dvh;

            .container {

                flex-direction: column;

                figure,
                .sobre-txt {
                    width: 90%;
                    height: 50%;
                }
            }

        }

        /* responsivo para celulares mobile */
        @media(max-width:480px) {
            main {
                #home .container {

                    figure {

                        height: 40%;
                        align-items: flex-end;

                        img {
                            width: 200px;
                        }


                    }

                    .home-txt {
                        h1 {
                            flex-direction: column;

                            span {
                                padding: 15px;
                            }
                        }
                    }




                }


            }

        }
    }


    footer {
        height: 40dvh;
        padding: 25px;

        .container {
            flex-direction: column;

            .footer-logo,
            .footer-icons {
                width: 90%;
                height: 50%;
            }
        }
    }


}